body {
    background-color: #181818;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.chat {
    width: 400px;
    height: 80vh;
    border: 1px solid #333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    overflow: hidden;
}

.messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* Firefox scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: #555 #242424;
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.message.sent {
    background-color: #00509d;
    align-self: flex-end;
    color: white;
}

.message.received {
    background-color: #3a3a3a;
    align-self: flex-start;
}

.messageContent {
    margin: 0 0 5px 0;
}

.messageTime {
    font-size: 0.75em;
    color: #b0b0b0;
    text-align: right;
    margin: 0;
}

.messageSender {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.messageInputContainer {
    display: flex;
    padding: 10px;
    background-color: #333333;
}

.messageInput {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #4f4f4f;
    color: white;
    margin-right: 10px;
}

.messageInput:focus {
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #00509d;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #003f7a;
}

input {
    box-sizing: border-box;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #4f4f4f;
    background-color: #3a3a3a;
    color: white;
}

.messages::-webkit-scrollbar {
    width: 8px;
}

.messages::-webkit-scrollbar-track {
    background: #242424; /* Color of the tracking area */
}

.messages::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scroll thumb */
    border-radius: 20px; /* Roundness of the scroll thumb */
    border: 2px solid #242424; /* Creates padding around scroll thumb */
}

.messages::-webkit-scrollbar-thumb:hover {
    background-color: #6a6a6a; /* Color of the scroll thumb on hover */
}
